#listing-item
  display: grid
  grid-template-columns: 24% 38% 38%
  width: 100%
  margin: 10px auto
  background-color: $white
  font-family: 'Sunflower', sans-serif
  border-radius: 4px
  cursor: pointer
  transition: all .3s

  &:hover
    background-color: $white-hover
    transform: scale(1.05, 1.05)

  p
    height: 22px
    font-size: 20px
    color: $text

  #icon
    max-width: 50px
    margin: 5px 30px